[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Christophe Simon (Nim-os)
	owner = group user/Ethan Côté (EthanCote5233)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Christophe Simon (Nim-os)
	label-Code-Review = -2..+2 group user/Ethan Côté (EthanCote5233)
	label-Verified = -1..+1 group user/Christophe Simon (Nim-os)
	label-Verified = -1..+1 group user/Ethan Côté (EthanCote5233)
	push = +force group user/Christophe Simon (Nim-os)
	push = +force group user/Ethan Côté (EthanCote5233)
	read = group user/Christophe Simon (Nim-os)
	read = group user/Ethan Côté (EthanCote5233)
	rebase = group user/Christophe Simon (Nim-os)
	rebase = group user/Ethan Côté (EthanCote5233)
	removeReviewer = group user/Christophe Simon (Nim-os)
	removeReviewer = group user/Ethan Côté (EthanCote5233)
	submit = group user/Christophe Simon (Nim-os)
	submit = group user/Ethan Côté (EthanCote5233)
[access "refs/heads/*"]
	create = group user/Christophe Simon (Nim-os)
	create = group user/Ethan Côté (EthanCote5233)
	push = +force group user/Christophe Simon (Nim-os)
	push = +force group user/Ethan Côté (EthanCote5233)
	pushMerge = group user/Christophe Simon (Nim-os)
	pushMerge = group user/Ethan Côté (EthanCote5233)
	read = group user/Christophe Simon (Nim-os)
	read = group user/Ethan Côté (EthanCote5233)
[access "refs/tags/*"]
	push = +force group user/Christophe Simon (Nim-os)
	push = +force group user/Ethan Côté (EthanCote5233)
