@model KannotEven.Models.IngredientList

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">KannotEven</h1>
	<h5 class="quiet-text">Make your fridge work for you</h5><br />

	<div>
		<h3>Kannot Decide?</h3>
		<a asp-controller="Recipes" asp-action="Random">
			<input type="button" class="btn btn-primary" value="Feeling Hungry" />
		</a><br /><br />
	</div>


	<h3>Enter your ingredients below as a comma separated list <span class="hint-text">(e.g. tomato,onion,chicken)</span></h3>
	<form method="get" asp-controller="Recipes" asp-action="GetList">
		<input asp-for="List" placeholder="add your ingredients here!" /><br />
		<input type="submit" class="btn btn-primary" value="Find me a recipe!" />
	</form>
</div>
