@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KannotEven</h1>
    <a asp-controller="Recipes" asp-action="Random">
        <input type="button" class="btn btn-primary" value="Roll" />
    </a>
</div>
